* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #030B1C;
}

@font-face {
    font-family: Aventa-Regular;
    src: url('./Font/Aventa-Regular.ttf');
}

@font-face {
    font-family: Aventa-Semibold;
    src: url('./Font/Aventa-SemiBold.ttf');
}

@font-face {
    font-family: Aventa-Bold;
    src: url('./Font/Aventa-Bold.ttf');
}

@font-face {
    font-family: Aventa-ExtraBold;
    src: url('./Font/Aventa-ExtraBold.ttf');
}

header {
    width: 85%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -90px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: Aventa-SemiBold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 100px;
}

nav ul li {
    margin: 0 20px;
}

button.btn-2 {
    padding: 20px 23px;
    border: 2px solid #ffffff;
    border-radius: 1000px;
    background: none;
    font-family: 'Aventa-SemiBold';
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.container {
    width: 85%;
    margin: auto;
}

.herosection {
    background-image: url('/bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.herocontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 175px 0px;
    height: 100%;
}

.herocontent h1 {
    font-family: 'Aventa-Bold';
    font-size: 64px;
    line-height: 89px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 25px;
}

.herocontent p {
    width: 820px;
    font-family: 'Aventa-Regular';
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.herocontent button {
    padding: 22px 33px;
    border-radius: 1000px;
    font-family: 'Aventa-SemiBold';
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
}

.explore-section {
    /* background-image: url('/bg2.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 160px;
}

.explore-content {
    display: flex;
    justify-content: space-between;

}

.explore-content h1 {
    font-family: 'Aventa-Bold';
    font-size: 55px;
    line-height: 64px;
    color: #FFFFFF;
}

.slider-section {
    /* background-image: url('./bg3.png'); */
    background-size: cover;
    padding: 140px 0px;
    background-position: center;
}


/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    background-color: #1B3C78;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: inline;
}

.active,
.accordion:hover {
    background-color: #b0c3e6;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0px 40px;
    background-color: #ffffff;
    max-height: 80px;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.2s ease-out;
}

.accordianSec {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

#accordion {
    width: 100%;
}

.explore-img {
    margin-left: 66px;
}

.free-section {
    width: 100%;
    padding: 115px 0px;
    background-image: url('./free-bg.png');
}

.text-container h1 {
    font-family: 'Aventa-Bold';
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;

}

.text-container p {
    font-family: 'Aventa-SemiBold';
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 20px 0px 60px 0px;
}

.list-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 50px;
}

.list-item {

    background: #FFFFFF;
    border: 0.531684px solid #1B3C78;
    border-radius: 5px 5px 0px 0px;
    padding: 30px 25px 50px 25px;
    text-align: center;
}

.list-icon img {
    width: 110px;
    padding-bottom: 50px;
}

.list-title h2 {
    font-family: 'Aventa-ExtraBold';
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #09142E;
    margin-bottom: 15px;
}

.list-title p {
    font-family: 'Aventa-SemiBold';
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #09142E;
}

.title h1 {
    font-family: 'Aventa-Bold';
    font-size: 48px;
    line-height: 81px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.testimonial {
    padding: 150px 0px;
}

.testi-wrapper {
    /* margin-left: 155px; */
    width: 50%;
}

.testi-wrapper h1 {
    font-family: 'Aventa-Bold';
    font-size: 48px;
    line-height: 81px;
    text-transform: capitalize;
    padding-bottom: 28px;
    color: #FFFFFF;
}

.slider-items p {
    font-family: 'Aventa-SemiBold';
    font-size: 24px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.72);
    margin-bottom: 28px;
}

.ratings {
    display: flex;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;

}

.client-info h2 {
    font-family: 'Aventa-Bold';
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 8px;
}

.client-info h4 {
    font-family: 'Aventa-Regular';
    font-size: 14px;
    line-height: 22px;
    color: #A6B0C9;
}



.slick-dots li button {
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #136DF7;
    text-indent: -9999px;
    cursor: pointer;
}

.slick-dots .slick-active {
    width: 2rem;
    height: 2rem;
    border: 2px solid #136DF7;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 0px 5px;
    cursor: pointer;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    list-style: none;
}

.icons-slider .slick-track {
    display: flex;
    align-items: center;
}

.icon-item img {
    width: 80%;
    object-fit: contain;
}

.icon-item.slick-slide {
    display: grid;
    margin: 0 20px;
}

.icon-item {
    display: grid;
    place-content: center;
    place-items: center;

    height: 96px;
    border: 1px solid #136DF7;
    border-radius: 5px;
}

/* Footer CSS */



.row {
    display: grid;
}