* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    background-color: #030B1C;
}

@font-face {
    font-family: Aventa-Regular;
    src: url('./assets/Font/Aventa-Regular.ttf');
}

@font-face {
    font-family: Aventa-Semibold;
    src: url('./assets/Font/Aventa-SemiBold.ttf');
}

@font-face {
    font-family: Aventa-Bold;
    src: url('./assets/Font/Aventa-Bold.ttf');
}

@font-face {
    font-family: Aventa-ExtraBold;
    src: url('./assets/Font/Aventa-ExtraBold.ttf');
}

.header-area {
    z-index: 99;
    position: absolute;
    width: 100%;
    padding: 20px 0;
}

.header-area .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header-area .nav-items {
    flex-grow: 1;
    justify-content: center;
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    font-family: Aventa-SemiBold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 100px;
}

.nav-items li {
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;

}

.nav-items li>a {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
}


.nav-items li>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    background: #fff;
}

.nav-items li>a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.btn-2 {
    padding: 20px 23px;
    border: 2px solid #ffffff;
    border-radius: 1000px;
    background: none;
    font-family: 'Aventa-SemiBold';
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
}

.btn-2:hover {
    background: white;
    color: #030B1C;
}



.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.herosection {
    background-image: url('./assets/Bg-images/bg1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.bg1-shadow {
    position: absolute;
    width: 100%;
}

.offcanvas-wraper {
    display: none;
}

.mobile-header {
    display: none;
}

.herocontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    z-index: inherit;
    padding-top: 260px;
    padding-bottom: 275px;
}

.herocontent h1 {
    font-family: 'Aventa-Bold';
    font-size: 64px;
    line-height: 89px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.herocontent p {
    width: 820px;
    font-family: 'Aventa-Regular';
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.herocontent a {
    padding: 22px 33px;
    border-radius: 1000px;
    font-family: 'Aventa-Bold';
    font-size: 18px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    background-color: #fff;
    text-decoration: none;
    color: black;
}

.herocontent a:hover {
    background: none;
    color: white;
    border: 1px solid;
}

.explore-section {
    background-image: url('./assets/Bg-images/bg2.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin-bottom: -10px;
}

.explore-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.explore-content h1 {
    font-family: 'Aventa-Bold';
    font-size: 55px;
    line-height: 64px;
    color: #FFFFFF;
}

.slider-section {
    background-image: url('./assets/Bg-images/bg3.webp');
    background-size: cover;
    padding: 140px 0px;
    background-position: center;
}

.client-img img {
    max-width: 100%;
    height: auto;
}

.accordionSec {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 55px;
    grid-gap: 66px;
    padding-bottom: 126px;
}

.explore-img img {
    width: 100%;
}

.dl_accordion_item {
    border: 1px solid #136DF7;
    background: none;

}

.dl_accordion_item.dl_accordion_style_02.is-active .dl_accordion_item_title {
    background-color: #1B3C78;
}


.dl_accordion_item .dl_accordion_icon {
    position: absolute;
    left: -42px;
    top: -4px;
}

.dl_accordion_item.is-active {
    background-color: #fff;
}

.dl_accordion_item .dl_accordion_item_title {
    position: relative;

}

.dl_accordion_item .dl_accordion_title {
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
    font-family: 'Aventa-SemiBold';
    font-size: 24px;
    line-height: 28px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 20px 0;
    padding-left: 30px;
}

.dl_accordion_item .dl_accordion_title::before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    vertical-align: middle;
    border-right: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    transition: transform 0.2s ease-out;
    right: 20px;
    top: 25px;
    position: absolute;
}

.dl_accordion_item .dl_accordion_panel {
    display: none;
    padding-top: 30px;
    background-color: rgb(255, 255, 255);
    font-family: 'Aventa-SemiBold';
    font-size: 19px;
    line-height: 40px;
    padding: 20px 40px 20px 30px;

    text-transform: capitalize;
    color: #09142E
}

.dl_accordion_item.is-active .dl_accordion_title::before {
    transform: rotate(-135deg);
    top: 30px;
}

.dl_accordion_item.dl_accordion_style_02 {


    background: none;
    margin-bottom: 26px;
}

/* accor style  */



.free-section {
    width: 100%;
    padding: 115px 0px;
    background-image: url('./assets/Bg-images/free-bg.webp');
    background-size: cover;
}

.text-container h1 {
    font-family: 'Aventa-Bold';
    font-size: 55px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;

}

.text-container p {
    font-family: 'Aventa-SemiBold';
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 20px 0px 60px 0px;
}

.list-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 50px;
}

.list-item {

    background: #FFFFFF;
    border: 0.531684px solid #1B3C78;
    border-radius: 5px 5px 0px 0px;
    padding: 30px 25px 50px 25px;
    text-align: center;
}

.list-item.item1 {

    border-bottom: 10px solid #22D9DF;
}

.list-item.item2 {
    border-bottom: 10px solid #FC6B00;

}

.list-item.item3 {
    border-bottom: 10px solid #136DF7;
}

.list-item.item4 {
    border-bottom: 10px solid #FFC701;
}

.list-item.item5 {
    border-bottom: 10px solid #2EA964;
}

.list-item.item6 {
    border-bottom: 10px solid #FF4601;
}

.list-icon img {
    width: 110px;
    padding-bottom: 50px;
}

.list-title h2 {
    font-family: 'Aventa-ExtraBold';
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #09142E;
    margin-bottom: 15px;
}

.list-title p {
    font-family: 'Aventa-SemiBold';
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #09142E;
}

.title h1 {
    font-family: 'Aventa-Bold';
    font-size: 48px;
    line-height: 81px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 40px;
    color: #FFFFFF;
}

.testimonial {
    padding-top: 150px;
    padding-bottom: 300px;
    position: relative;
    z-index: 2;

}



.people-shadow {
    position: absolute;
    top: -50%;
    left: 0;
    z-index: -1;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;

}

.testi-wrapper {
    /* margin-left: 155px; */
    width: 50%;
}

.testi-wrapper h1 {
    font-family: 'Aventa-Bold';
    font-size: 48px;
    line-height: 81px;
    text-transform: capitalize;
    padding-bottom: 28px;
    color: #FFFFFF;
}

.slider-items {
    width: 100%;
}

.slider-items p {
    font-family: 'Aventa-SemiBold';
    font-size: 24px;
    line-height: 39px;
    color: rgba(255, 255, 255, 0.72);
    margin-bottom: 28px;
}

.ratings {
    display: flex;
}


.client-info h2 {
    font-family: 'Aventa-Bold';
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 8px;
}

.client-info h4 {
    font-family: 'Aventa-Regular';
    font-size: 14px;
    line-height: 22px;
    color: #A6B0C9;
}

.testi-slider .slick-dots li button {
    width: 1rem;
    height: 1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #136DF7;
    text-indent: -9999px;
    cursor: pointer;
    margin: 0px 5px;
}

.testi-slider .slick-dots .slick-active {
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid #136DF7;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-right: 16px;
    cursor: pointer;
    margin: 0;
}

.testi-slider .slick-dots {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 1rem 0;
    list-style: none;
}

/* company logo slider */
.slick-dots li button {
    width: 1.1rem;
    height: 1.1rem;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #136DF7;
    text-indent: -9999px;
    cursor: pointer;
}

.slick-dots .slick-active {
    width: 2rem;
    height: 2rem;
    border: 2px solid #136DF7;
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 0px 5px;
    cursor: pointer;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 60px;
    list-style: none;
    gap: 5px;
}


.icons-slider .slick-track {
    display: flex;
    align-items: center;
}

.icon-item img {
    width: 80%;
    object-fit: contain;
}

.icon-item.slick-slide {
    display: grid;
    margin: 0 20px;
}

.icon-item {
    display: grid;
    place-content: center;
    place-items: center;

    height: 96px;
    border: 1px solid #136DF7;
    border-radius: 5px;
}

/* Footer CSS */
.footer {
    background-image: url(./assets/Bg-images/footer-bg.webp);
    background-position: center;
    background-size: cover;

    z-index: 1;

}


.text p {
    font-family: 'Aventa-SemiBold';
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;

}

.row-one {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: end;
    padding-bottom: 100px;
    border-bottom: 1px solid #1B3C78;
}

.row-one .logo {
    margin-bottom: 24px;
    width: 43px;
}

.row-one .logo img {
    width: 100%;
}

.row-one .col {
    color: white;
    display: flex;
    flex-direction: column;
}

.col h4 {
    font-family: 'Aventa-Bold';
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 32px;
}

.col a {
    font-family: 'Aventa-SemiBold';
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 21px;
}

.row-two {
    padding-top: 60px;
    padding-bottom: 60px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons img {
    margin-right: 30px;
}

.copyright p {
    padding-top: 30px;
    text-align: center;
    font-family: 'Aventa-SemiBold';
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.copyright p span {
    color: #136DF7;
}

.footer {
    position: relative;
    padding-top: 300px;
}



.img-shadow img {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    object-fit: cover;
    z-index: -2;
    max-width: 100%;
}

.subscribe-content {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #136DF7;
    max-width: 1000px;
    margin: auto;
    position: relative;
    padding: 80px;
    background-color: #08122E;
    margin-bottom: -150px;
    z-index: 3;
    gap: 20px;
}

.sub-text h2 {
    font-family: 'Aventa-Bold';
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.sub-text p {
    font-family: 'Aventa-SemiBold';
    font-size: 16px;
    line-height: 28px;
    color: #EBEBEB;
}

.field-group {
    width: 464px;
}

.field-group input {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-family: 'Aventa-SemiBold';
    font-size: 16px;
    line-height: 19px;
    padding: 25px 60px;
    margin-bottom: 20px;
    width: 100%;
    background: none;
    border: 1px solid white;
    color: #FFFFFF;
}

.field-group ::placeholder {
    font-family: 'Aventa-SemiBold';
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF !important;
}

.input-field {
    position: relative;
}

.field-group i {
    position: absolute;
    color: white;
    font-size: 22px;
    top: 25px;
    left: 22px;
}

.field-group button {

    background: #136DF7;
    border-radius: 5px;
    font-family: 'Aventa-SemiBold';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 25px 0;
}